.address-container {
  max-width: 957px;
  margin: 0 auto;
}

.address__inner {
  font-family: "Open Sans", "Arial", sans-serif;
  text-align: center;
}

.address__head {
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  color: #1f1f1f;
  font-weight: 600;
}

.address__text {
  margin-top: 30px;
  margin-bottom: 41px;
  font-weight: 400;
  font-size: 17px;
  line-height: 31px;
  color: rgba(0, 0, 0, 0.7);
  width: 555px;
  margin-left: auto;
  margin-right: auto;
}

.address__map {
  background: url("../img/map-desktop@1x.jpg") center no-repeat;
  height: 530px;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .address__map {
    background: url("../img/map-desktop@2x.jpg") center no-repeat;
    background-size: 957px auto;
  }
}

@media (max-width: $tablet-width) {
  .address-container {
    max-width: 698px;
  }

  .address__head {
    font-size: 24px;
  }

  .address__text {
    width: 629px;
    margin: 20px auto;
  }

  .address__map {
    background: url("../img/map-tablet@1x.jpg") center no-repeat;
    height: 545px;
  }

  .address__iframe {
    width: 698px;
    height: 545px;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .address__map {
      background: url("../img/map-tablet@2x.jpg") center no-repeat;
      background-size: 698px auto;
    }
  }
}

@media (max-width: $mobile-width) {
  .address-container {
    width: 100%;
  }

  .address__head {
    font-size: 18px;
  }

  .address__text {
    padding: 0 16px;
    width: 90%;
    margin-bottom: 20px;
  }

  .address__map {
    background: url("../img/map-mobile@1x.jpg") center no-repeat;
    height: 250px;
  }

  .address__iframe {
    width: 100%;
    height: 250px;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .address__map {
      background: url("../img/map-mobile@2x.jpg") center no-repeat;
      background-size: 320px auto;
    }
  }
}
