.footer {
  margin: 34px auto 88px auto;
  display: flex;
  justify-content: space-between;
  width: 560px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  flex-wrap: wrap;
}

.footer__mail {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 16px;
  line-height: 22px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.footer__mail a {
  color: rgba(0, 0, 0, 0.5);
}

.footer__icon-mail {
  margin-right: 15px;
}

.footer__tel {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 32px;
  flex-basis: 205px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.footer__tel a {
  color: rgba(0, 0, 0, 0.5);
}

.footer__icon-phone {
  margin-right: 18.5px;
  background-color: #ffffff;
}

@media (max-width: $tablet-width) {
  .footer {
    margin: 15px auto 30px auto;
  }
}

@media (max-width: $mobile-width) {
  .footer {
    display: block;
    width: auto;
    flex-wrap: wrap;
    margin: 27px auto 30px auto;
  }

  .footer__mail {
    margin-left: 5px;
    justify-content: center;
    align-self: center;
    flex-grow: 1;
    margin-bottom: 18px;
  }

  .footer__tel {
    margin-left: -10px;
    justify-content: center;
    flex-grow: 1;
  }
}
