h1 {
  display: none;
}

.header {
  min-height: 825px;
  background-image: url("../img/bikebg-desktop@1x.jpg"), linear-gradient(#0d0d0d, #262626);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 825px;
  font-family: "Open Sans", "Arial", sans-serif;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .header {
    background: url("../img/bikebg-desktop@2x.jpg") center no-repeat;
    background-size: 100% 825px;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 930px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__menu {
  padding-top: 21px;
  max-height: 62px;
}

.header__menu-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;

  &::after {
    position: absolute;
    content: "";
    width: 95%;
    height: 1px;
    top: calc(100% + 9px);
    left: 18px;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.header__menu-item {
  position: relative;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  opacity: 0.7;
  padding: 40px;
}

.header__inner {
  margin-top: 262px;
  margin-left: 17px;
}

.header__inner-logo {
  display: block;
  margin-bottom: 31px;
}

.header__inner-title {
  margin: 0;
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;
  color: #ffffff;
}

.header__inner-text {
  margin: 0;
  margin-top: 24px;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  opacity: 0.8;
}

.header__inner-button {
  display: none;
  border: none;
}

.header__inner-wrapper {
  width: 395px;
}

.header__inner-wrapperlogo {
  display: flex;
  justify-content: space-between;
}

@media (max-width: $tablet-width) {
  .header {
    position: relative;
    min-height: 340px;
    background-image: url("../img/bikebg-tablet@1x.jpg");
    background-size: 100% 340px;
    background-position: center 0;
    margin-top: 540px;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .header {
      background: url("../img/bikebg-tablet@2x.jpg") center 0 no-repeat;
      background-size: 100% 340px;
    }
  }

  .container {
    max-width: 1023px;
    padding-right: 0;
    margin: 0;
  }

  .header__wrapper {
    display: block;
  }

  .header__menu {
    display: none;
    position: absolute;
    content: "";
    min-height: 450px;
    left: 0;
    top: -540px;
    margin: 0;
    background-color: #ffffff;
    padding: 0;
    padding-top: 100px;
    width: 100%;
    z-index: 9;
    max-height: 568px;

    &--active {
      display: block;
    }
  }

  .header__menu-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &::after {
      display: none;
    }
  }

  .header__menu-list li {
    flex-basis: 60px;
    margin-bottom: 30px;
    background-color: #f6f6f6;
  }

  .header__menu-item {
    display: block;
    height: 26px;
    width: 100%;
    font-size: 20px;
    line-height: 28px;
    color: #48494d;
    text-align: left;
    position: relative;
    padding: 17px 0 17px 16px;

    &::after {
      position: absolute;
      content: "";
      width: 25px;
      height: 25px;
      background: url("../img/arrow.svg") center no-repeat;
      left: calc(100% - 34px);
    }

    &:hover {
      background-color: rgba(246, 246, 246, 0.2);
    }
  }

  .header__inner {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-left: 0;
    width: auto;
  }

  .header__inner-logo {
    padding-left: 10px;
    padding-top: 25px;
    margin-bottom: 85px;
  }

  .header__inner-button {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    background-color: $cyan;
    cursor: pointer;

    &--active {
      background-color: #ffffff;
      z-index: 9;
      background-image: url("../img/cross.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .header__inner-block {
    display: block;
    width: 23px;
    height: 1px;
    background-color: #000000;
    margin-left: 7px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 23px;
      height: 1px;
      background-color: #000000;
      top: 19px;
      left: 15px;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 23px;
      height: 1px;
      background-color: #000000;
      top: 31px;
      left: 15px;
    }
  }

  .header__inner-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
  }

  .header__inner-title {
    padding-right: 5px;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
  }

  .header__inner-text {
    padding-right: 5px;
    margin-top: 20px;
    display: block;
    align-self: center;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    width: 62%;
    letter-spacing: -0.005em;
  }

  .header__inner-block--active {
    display: none;

    &::after,
    &::before {
      display: none;
    }
  }
}

@media (max-width: $mobile-width) {
  .header {
    position: relative;
    min-height: 390px;
    min-width: 320px;
    background-image: url("../img/bikebg-mobile@1x.jpg");
    background-size: 100% 390px;
    background-position: top;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .header {
      background: url("../img/bikebg-mobile@2x.jpg") top no-repeat;
      background-size: 100% 390px;
    }
  }

  .header__menu {
    left: 0;
    width: 100%;
  }

  .container {
    padding: 0;
  }

  .header__menu-list li {
    &:last-child {
      margin-bottom: 0;
    }
  }

  .header__inner-text {
    width: 298px;
    padding-left: 0;
    letter-spacing: -0.005em;
    margin-left: -5px;
  }

  .header__inner-logo {
    margin-bottom: 72px;
    margin-left: 8px;
  }

  .header__inner-title {
    margin-left: -8px;
  }

  .header__inner-wrapper {
    padding-left: 10px;
  }
}
