h1 {
  display: none;
}

.header {
  min-height: 825px;
  background-image: url("../img/bikebg-desktop@1x.jpg"), linear-gradient(#0d0d0d, #262626);
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Open Sans", "Arial", sans-serif;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .header {
    background: url("../img/bikebg-desktop@2x.jpg") center no-repeat;
    background-size: 1440px auto;
  }
}

.container {
  max-width: 930px;
  padding: 0 10px;
  margin: 0 auto;
}
.header__menu {
  padding-top: 21px;
  max-height: 62px;
  margin-left: 33px;
  margin-right: 43px;
}
.header__menu-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 107%;
    height: 1px;
    top: 40px;
    left: -23px;
    background-color: rgba(255, 255, 255, 0.2);
  }

}
.header__menu-item {
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  opacity: 0.7;


}
.header__inner {
  margin-top: 262px;
  margin-left: 17px;
  width: 395px;
}

.header__inner-logo {
  display: block;
  margin-bottom: 31px;
}
.header__inner-title {
  margin: 0;
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;
  color: #ffffff;
}

.header__inner-text {
  margin: 0;
  margin-top: 24px;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  opacity: 0.8;
}

.header__inner-button {
  display: none;
}

@media (max-width: $tablet-width) {
  .header {
    min-height: 340px;
    background-image: url("../img/bikebg-tablet@1x.jpg"), linear-gradient(#0d0d0d, #262626);
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .header {
      background: url("../img/bikebg-tablet@2x.jpg") center no-repeat, linear-gradient(#0d0d0d, #262626);
      background-size: 767px auto;
    }
  }

  .container {
    max-width: 1023px;
    padding-right: 0;
    margin: 0;
  }
  .header__menu {
    display: none;
  }

  .header__inner {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-left: 0;
    width: auto;
  }
  .header__inner-logo {
    padding-left: 10px;
    padding-top: 25px;
    margin-bottom: 85px;
  }
  .header__inner-button {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    background-color: $cyan;
    cursor: pointer;
  }
  .header__inner-block {
    display: block;
    width: 23px;
    height: 1px;
    background-color: #000000;
    margin-top: 25px;
    margin-left: 13.75px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 23px;
      height: 1px;
      background-color: #000000;
      top: 19px;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 23px;
      height: 1px;
      background-color: #000000;
      top: 31px;
    }
  }

  .header__inner-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .header__inner-title {
    font-size: 30px;
    line-height: 42px;
    text-align: center;
  }
  .header__inner-text {
    padding-left: 5px;
    margin-top: 20px;
    display: block;
    align-self: center;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    width: 65%;
  }
}

@media (max-width: $mobile-width) {
  .header {
    position: relative;
    min-height: 390px;
    min-width: 320px;
    background-image: url("../img/bikebg-mobile@1x.jpg"), linear-gradient(#0d0d0d, #262626);
    margin-top: 500px;

  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .header {
      background: url("../img/bikebg-mobile@2x.jpg") center no-repeat, linear-gradient(#0d0d0d, #262626);
      background-size: 320px auto;
    }
  }

  .header__menu {
    position: absolute;
    left: 0;
    top: -500px;
    margin: 0;
    background-color: #ffffff;
    max-height: 500px;
    padding: 0;
    padding-top: 100px;
    width: 98%;
    z-index: 9;

    &--active {
      display: block;
    }
  }
  .header__menu-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .header__menu-list li {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .header__menu-item {
    display: flex;
    height: 60px;
    width: 100%;
    background-color: #f6f6f6;
    font-size: 20px;
    line-height: 28px;
    color: #48494d;
    padding-left: 16px;
    text-align: left;
    align-items: center;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 25px;
      height: 25px;
      background: url("../img/arrow.svg") center no-repeat;
      left: calc(100% - 34px);
    }
  }
  .header__inner-text {
    width: 95%;
  }

  .header__inner-button {
    &--active {
      background-color: #ffffff;
      z-index: 9;
      background: url("../img/cross.svg") center no-repeat;
    }
  }

  .header__inner-logo {
    margin-bottom: 70px;
  }

  .header__inner-block--active {
    display: none;
    &::after,
    &::before {
      display: none;
    }
  }
}
